body{
    background-color: rgb(192, 192, 192);
}
#logo{
    width: auto;
    height: 100px;
}
footer{
    background-color: black;

}
#logo_footer{
    text-align: center;
}
#logofooter{
    width: 100px;
    height: 100px;
}
#sobre{
    text-align: justify;
}