*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    min-height: 100vh;
}

.paragraph{
    font-size: 30px;
}

.header{
    flex-basis: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
}

.main-content{
    flex: 1 0 400px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: center;
    justify-content: center;
}

.item{
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    display: flex;
    gap: 10px;
    width: 350px;
    height: 250px;
    
}


.footer{
    flex-basis: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
}